[submodule "skills/humanizer"]
	path = skills/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "skills/AI-research-SKILLs"]
	path = skills/AI-research-SKILLs
	url = https://github.com/zechenzhangAGI/AI-research-SKILLs.git
[submodule "skills/claude-scientific-skills"]
	path = skills/claude-scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "skills/ppt-master"]
	path = skills/ppt-master
	url = git@github.com:hugohe3/ppt-master.git
[submodule "skills/MixtapeTools"]
	path = skills/MixtapeTools
	url = git@github.com:scunning1975/MixtapeTools.git
[submodule "skills/econ-writing-skill"]
	path = skills/econ-writing-skill
	url = git@github.com:hanlulong/econ-writing-skill.git
[submodule "clo-author"]
	path = clo-author
	url = git@github.com:zmier/clo-author.git
