CHAOJIYING_USER=
CHAOJIYING_PASS=
# CHAOJIYING_PASS2 can be used instead of CHAOJIYING_PASS.
# CHAOJIYING_PASS2=
# Official HTTP docs say softid can be empty.
# CHAOJIYING_SOFT_ID=
# Default recognition type: 1902 = 4-6 alphanumeric chars.
# See https://www.chaojiying.com/price.html
CHAOJIYING_CODETYPE=1902
